<!-- Ce fichier doit être copié dans le dossier parent -->
<appSettings>
   <!-- SendGrid-->
    <add key="mailAccountSendGrid" value=""/>
    <add key ="mailPasswordSenGrid" value =""/>
</appSettings>