@using Miam.Domain.RoleName
<ul class="nav navbar-nav">
    
@if (Request.IsAuthenticated && User.IsInRole(RoleName.Admin))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="admin_menu">Admin <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li id="manage_restaurant">@Html.ActionLink("Gérer les restaurants", MVC.Admin.Index()) </li>
        </ul>
    </li>
}

@if (Request.IsAuthenticated && User.IsInRole(RoleName.Writer))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="writer_menu">Chroniqueur<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li id="add_restaurant_menu_item">@Html.ActionLink("Ajouter un restaurant", MVC.Restaurant.Create()) </li>
        </ul>
    </li>
}

</ul>
