@using Miam.Domain.RoleName
<ul class="nav navbar-nav">

    @if (Request.IsAuthenticated && User.IsInRole(RoleName.Admin))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="admin-menu">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Gérer les restaurants", MVC.Restaurant.Index(), new { id = "manage-restaurant-menu-item" }) </li>
                <li>@Html.ActionLink("Ajouter un restaurant", MVC.Restaurant.Create(), new {id="add-restaurant-menu-item"}) </li>
            </ul>
        </li>
    }

    @if (Request.IsAuthenticated && User.IsInRole(RoleName.Writer))
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="writer-menu">Chroniqueur<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Ajouter une critique", MVC.Review.Create(), new {id="add-review-menu-item"}) </li>
            </ul>
        </li>
    }

</ul>
