<!-- Éviter toute logique dans les vues. Cette logique se trouve dans le controleur Navigation-->

@*@using Externalization

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(@User.Identity.Name, MVC.Home.Index(), new { id = "login-username" })</li>
        <li>@Html.ActionLink(UiText.Login.LOGOUT, MVC.Account.Logout(), new { id = "logout-link" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(UiText.Login.LOGIN, MVC.Account.Login(), new { id = "login-link" })</li>
    </ul>
}*@
