<!--.NET Config Files configSource outside the application directory folder
http://stackoverflow.com/questions/569117/net-config-files-configsource-outside-the-application-directory-folder
-->

<connectionStrings>
  <add name="MiamDbContext" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MiamDemoDev;user id=MiamUser;password=miam" 
       providerName="System.Data.SqlClient" />
</connectionStrings>