<!-- Jenkins remplacera ce fichier avec la chaine de connexion de la BD de PRODUCTION -->
<connectionStrings>
  <add name="MiamDbContext" 
       connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MiamDemoDevelopment;user id=MiamUser;password=miam" 
       providerName="System.Data.SqlClient" />
</connectionStrings>