@model string[]

<!-- Todo: Externaliser la vue -->
<h2 id="download-index-page">Les fichiers docx du dossier "uploads"</h2>

<div id="files">
    <ul class ="list-group">
        @foreach (var fullpathFileName in Model)
        {
            <li class="list-group-item">@Html.ActionLink(fullpathFileName, MVC.File.Download().AddRouteValues(new { fullpathFileName = fullpathFileName }))</li>
        }
    </ul>
</div>

