<!-- Renommer ce fichier en AppSettingsSecrcrets.config -->
<!-- Tous les fichiers en *Secrcrets.config ne sont pas versionnés par Git (voir fichier .gitignore)-->

<appSettings>
	<!-- SendGrid-->
    <add key="SendGridApi" value=""/>
</appSettings>